PORT=3000
DATABASE_URL=postgresql://neondb_owner:npg_3w4DcMvyCXas@ep-snowy-morning-b447b8ux-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=f83b2a9c1d0e4f5a6b7c8d9e0f1a2b3c4d5e6f7a